modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "7th Court Bot"

[[workflows.workflow]]
name = "7th Court Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34739
externalPort = 3000

[userenv]

[userenv.shared]
PAGE_ID = "2ad1a427ceb7815598cdffb8271f5d43"
CHAT_ID = "-1003267500349"
